@{
    ViewData["Title"] = "About";
}
@section scripts{
    <script type="text/javascript" src="~/clientapp/dist/polyfills.js"></script>
    <script type="text/javascript" src="~/clientapp/dist/runtime.js"></script>
    <script type="text/javascript" src="~/clientapp/dist/styles.js"></script>
    <script type="text/javascript" src="~/clientapp/dist/vendor.js"></script>
    <script type="text/javascript" src="~/clientapp/dist/main.js"></script>
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<app-root></app-root>